Podcasts/MyPodcasts.xml
main.sh
# glade commmonly forgets to delete it's lock file
PodcastWindow.glade~
# no need to push your podcast preferences
*.mp3
*.gch
build/**
.ccls
compile_commands.json
Debug/cmake_install.cmake
Debug/CMakeCache.txt
Debug/CPackConfig.cmake
Debug/CPackSourceConfig.cmake
Debug/CTestTestfile.cmake
Debug/DartConfiguration.tcl
Debug/Makefile
Debug/CMakeFiles/cmake.check_cache
Debug/CMakeFiles/CMakeDirectoryInformation.cmake
Debug/CMakeFiles/CMakeOutput.log
Debug/CMakeFiles/CMakeRuleHashes.txt
Debug/CMakeFiles/Makefile.cmake
Debug/CMakeFiles/Makefile2
Debug/CMakeFiles/progress.marks
Debug/CMakeFiles/TargetDirectories.txt
Debug/CMakeFiles/3.21.3/CMakeCCompiler.cmake
Debug/CMakeFiles/3.21.3/CMakeCXXCompiler.cmake
Debug/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_C.bin
Debug/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_CXX.bin
Debug/CMakeFiles/3.21.3/CMakeSystem.cmake
Debug/CMakeFiles/3.21.3/CompilerIdC/a.out
Debug/CMakeFiles/3.21.3/CompilerIdC/CMakeCCompilerId.c
Debug/CMakeFiles/3.21.3/CompilerIdCXX/a.out
Debug/CMakeFiles/3.21.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Debug/CMakeFiles/Continuous.dir/build.make
Debug/CMakeFiles/Continuous.dir/cmake_clean.cmake
Debug/CMakeFiles/Continuous.dir/compiler_depend.make
Debug/CMakeFiles/Continuous.dir/compiler_depend.ts
Debug/CMakeFiles/Continuous.dir/DependInfo.cmake
Debug/CMakeFiles/Continuous.dir/progress.make
Debug/CMakeFiles/ContinuousBuild.dir/build.make
Debug/CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
Debug/CMakeFiles/ContinuousBuild.dir/compiler_depend.make
Debug/CMakeFiles/ContinuousBuild.dir/compiler_depend.ts
Debug/CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
Debug/CMakeFiles/ContinuousBuild.dir/progress.make
Debug/CMakeFiles/ContinuousConfigure.dir/build.make
Debug/CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
Debug/CMakeFiles/ContinuousConfigure.dir/compiler_depend.make
Debug/CMakeFiles/ContinuousConfigure.dir/compiler_depend.ts
Debug/CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
Debug/CMakeFiles/ContinuousConfigure.dir/progress.make
Debug/CMakeFiles/ContinuousCoverage.dir/build.make
Debug/CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
Debug/CMakeFiles/ContinuousCoverage.dir/compiler_depend.make
Debug/CMakeFiles/ContinuousCoverage.dir/compiler_depend.ts
Debug/CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
Debug/CMakeFiles/ContinuousCoverage.dir/progress.make
Debug/CMakeFiles/ContinuousMemCheck.dir/build.make
Debug/CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
Debug/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.make
Debug/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.ts
Debug/CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
Debug/CMakeFiles/ContinuousMemCheck.dir/progress.make
Debug/CMakeFiles/ContinuousStart.dir/build.make
Debug/CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
Debug/CMakeFiles/ContinuousStart.dir/compiler_depend.make
Debug/CMakeFiles/ContinuousStart.dir/compiler_depend.ts
Debug/CMakeFiles/ContinuousStart.dir/DependInfo.cmake
Debug/CMakeFiles/ContinuousStart.dir/progress.make
Debug/CMakeFiles/ContinuousSubmit.dir/build.make
Debug/CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
Debug/CMakeFiles/ContinuousSubmit.dir/compiler_depend.make
Debug/CMakeFiles/ContinuousSubmit.dir/compiler_depend.ts
Debug/CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
Debug/CMakeFiles/ContinuousSubmit.dir/progress.make
Debug/CMakeFiles/ContinuousTest.dir/build.make
Debug/CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
Debug/CMakeFiles/ContinuousTest.dir/compiler_depend.make
Debug/CMakeFiles/ContinuousTest.dir/compiler_depend.ts
Debug/CMakeFiles/ContinuousTest.dir/DependInfo.cmake
Debug/CMakeFiles/ContinuousTest.dir/progress.make
Debug/CMakeFiles/ContinuousUpdate.dir/build.make
Debug/CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
Debug/CMakeFiles/ContinuousUpdate.dir/compiler_depend.make
Debug/CMakeFiles/ContinuousUpdate.dir/compiler_depend.ts
Debug/CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
Debug/CMakeFiles/ContinuousUpdate.dir/progress.make
Debug/CMakeFiles/Experimental.dir/build.make
Debug/CMakeFiles/Experimental.dir/cmake_clean.cmake
Debug/CMakeFiles/Experimental.dir/compiler_depend.make
Debug/CMakeFiles/Experimental.dir/compiler_depend.ts
Debug/CMakeFiles/Experimental.dir/DependInfo.cmake
Debug/CMakeFiles/Experimental.dir/progress.make
Debug/CMakeFiles/ExperimentalBuild.dir/build.make
Debug/CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
Debug/CMakeFiles/ExperimentalBuild.dir/compiler_depend.make
Debug/CMakeFiles/ExperimentalBuild.dir/compiler_depend.ts
Debug/CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
Debug/CMakeFiles/ExperimentalBuild.dir/progress.make
Debug/CMakeFiles/ExperimentalConfigure.dir/build.make
Debug/CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
Debug/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.make
Debug/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.ts
Debug/CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
Debug/CMakeFiles/ExperimentalConfigure.dir/progress.make
Debug/CMakeFiles/ExperimentalCoverage.dir/build.make
Debug/CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
Debug/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.make
Debug/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.ts
Debug/CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
Debug/CMakeFiles/ExperimentalCoverage.dir/progress.make
Debug/CMakeFiles/ExperimentalMemCheck.dir/build.make
Debug/CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
Debug/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.make
Debug/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.ts
Debug/CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
Debug/CMakeFiles/ExperimentalMemCheck.dir/progress.make
Debug/CMakeFiles/ExperimentalStart.dir/build.make
Debug/CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
Debug/CMakeFiles/ExperimentalStart.dir/compiler_depend.make
Debug/CMakeFiles/ExperimentalStart.dir/compiler_depend.ts
Debug/CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
Debug/CMakeFiles/ExperimentalStart.dir/progress.make
Debug/CMakeFiles/ExperimentalSubmit.dir/build.make
Debug/CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
Debug/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.make
Debug/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.ts
Debug/CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
Debug/CMakeFiles/ExperimentalSubmit.dir/progress.make
Debug/CMakeFiles/ExperimentalTest.dir/build.make
Debug/CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
Debug/CMakeFiles/ExperimentalTest.dir/compiler_depend.make
Debug/CMakeFiles/ExperimentalTest.dir/compiler_depend.ts
Debug/CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
Debug/CMakeFiles/ExperimentalTest.dir/progress.make
Debug/CMakeFiles/ExperimentalUpdate.dir/build.make
Debug/CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
Debug/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.make
Debug/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.ts
Debug/CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
Debug/CMakeFiles/ExperimentalUpdate.dir/progress.make
Debug/CMakeFiles/Nightly.dir/build.make
Debug/CMakeFiles/Nightly.dir/cmake_clean.cmake
Debug/CMakeFiles/Nightly.dir/compiler_depend.make
Debug/CMakeFiles/Nightly.dir/compiler_depend.ts
Debug/CMakeFiles/Nightly.dir/DependInfo.cmake
Debug/CMakeFiles/Nightly.dir/progress.make
Debug/CMakeFiles/NightlyBuild.dir/build.make
Debug/CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
Debug/CMakeFiles/NightlyBuild.dir/compiler_depend.make
Debug/CMakeFiles/NightlyBuild.dir/compiler_depend.ts
Debug/CMakeFiles/NightlyBuild.dir/DependInfo.cmake
Debug/CMakeFiles/NightlyBuild.dir/progress.make
Debug/CMakeFiles/NightlyConfigure.dir/build.make
Debug/CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
Debug/CMakeFiles/NightlyConfigure.dir/compiler_depend.make
Debug/CMakeFiles/NightlyConfigure.dir/compiler_depend.ts
Debug/CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
Debug/CMakeFiles/NightlyConfigure.dir/progress.make
Debug/CMakeFiles/NightlyCoverage.dir/build.make
Debug/CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
Debug/CMakeFiles/NightlyCoverage.dir/compiler_depend.make
Debug/CMakeFiles/NightlyCoverage.dir/compiler_depend.ts
Debug/CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
Debug/CMakeFiles/NightlyCoverage.dir/progress.make
Debug/CMakeFiles/NightlyMemCheck.dir/build.make
Debug/CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
Debug/CMakeFiles/NightlyMemCheck.dir/compiler_depend.make
Debug/CMakeFiles/NightlyMemCheck.dir/compiler_depend.ts
Debug/CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
Debug/CMakeFiles/NightlyMemCheck.dir/progress.make
Debug/CMakeFiles/NightlyMemoryCheck.dir/build.make
Debug/CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
Debug/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.make
Debug/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.ts
Debug/CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
Debug/CMakeFiles/NightlyMemoryCheck.dir/progress.make
Debug/CMakeFiles/NightlyStart.dir/build.make
Debug/CMakeFiles/NightlyStart.dir/cmake_clean.cmake
Debug/CMakeFiles/NightlyStart.dir/compiler_depend.make
Debug/CMakeFiles/NightlyStart.dir/compiler_depend.ts
Debug/CMakeFiles/NightlyStart.dir/DependInfo.cmake
Debug/CMakeFiles/NightlyStart.dir/progress.make
Debug/CMakeFiles/NightlySubmit.dir/build.make
Debug/CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
Debug/CMakeFiles/NightlySubmit.dir/compiler_depend.make
Debug/CMakeFiles/NightlySubmit.dir/compiler_depend.ts
Debug/CMakeFiles/NightlySubmit.dir/DependInfo.cmake
Debug/CMakeFiles/NightlySubmit.dir/progress.make
Debug/CMakeFiles/NightlyTest.dir/build.make
Debug/CMakeFiles/NightlyTest.dir/cmake_clean.cmake
Debug/CMakeFiles/NightlyTest.dir/compiler_depend.make
Debug/CMakeFiles/NightlyTest.dir/compiler_depend.ts
Debug/CMakeFiles/NightlyTest.dir/DependInfo.cmake
Debug/CMakeFiles/NightlyTest.dir/progress.make
Debug/CMakeFiles/NightlyUpdate.dir/build.make
Debug/CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
Debug/CMakeFiles/NightlyUpdate.dir/compiler_depend.make
Debug/CMakeFiles/NightlyUpdate.dir/compiler_depend.ts
Debug/CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
Debug/CMakeFiles/NightlyUpdate.dir/progress.make
Debug/CMakeFiles/Pinecast.dir/build.make
Debug/CMakeFiles/Pinecast.dir/cmake_clean.cmake
Debug/CMakeFiles/Pinecast.dir/compiler_depend.make
Debug/CMakeFiles/Pinecast.dir/compiler_depend.ts
Debug/CMakeFiles/Pinecast.dir/depend.make
Debug/CMakeFiles/Pinecast.dir/DependInfo.cmake
Debug/CMakeFiles/Pinecast.dir/flags.make
Debug/CMakeFiles/Pinecast.dir/link.txt
Debug/CMakeFiles/Pinecast.dir/progress.make
