Podcasts/MyPodcasts.xml
main.sh
Pinecast
# glade commmonly forgets to delete it's lock file
PodcastWindow.glade~
# no need to push your podcast preferences
*.mp3
*.gch
build/**
.ccls
compile_commands.json
Docs/html